* { 
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  background: url(cardImg/back1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-container {
  display:flex;
  background-color: silver;
  height: 50px;
  padding: 20px 0;
  justify-content: space-around;
}

img {
  max-width: 100px;
  max-height: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px;
}

button {
  display: block;
  margin:0 auto;
}

.playerCard-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.playerCard-grid-item {
  height: 140px;
  display: none;
}

.dealerCard-grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

dealerCard-grid-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
